
body
{
    font-family: Georgia, serif
}

div
{
    display: flex;
    flex-direction: column-reverse;


    /*flex-flow: column;*/
    /*justify-content: flex-end;*/
    border: 10px solid powderblue;
}

p
{
    border: 10px solid darkred;
    order: 5;
}

