@font-face {  font-family: Poppins; src: url("Fonts/Poppins-Regular.ttf");  }
@font-face {  font-family: "Montserrat Thin"; src: url("Fonts/Montserrat-VariableFont_wght.ttf");  }

html
{
    display: flex;
    justify-content: center;
}

body
{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

a
{
    font-family: Poppins, serif;
}

p
{
    font-family: Poppins, serif;
}

h1
{
    font-family: "Mongolian Baiti", serif;
    margin-bottom: 1rem;
}

h2
{
    margin-top: 0;
    font-family: "Mongolian Baiti", serif;
}

h3
{
    font-family: Poppins, serif;
}

h4
{
    font-family: Poppins, serif;
}

h5
{
    font-family: Poppins, serif;
}

.flex
{
    display: flex;
    justify-content: center;
}

.flex-container
{
    display: flex;
    flex-flow: nowrap;
    margin: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    /*background: blue;*/
}

.flex-container > div
{
    padding: 20px;

}

.flex-item
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
}

.flex-item-bordered
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 1 auto;
    border: 1px solid black;
}

/*Gap in-between flex items*/
.flex-item + .flex-item, .flex-item-bordered + .flex-item, .flex-item + .flex-item-bordered, .flex-item-bordered + .flex-item, .flex-item-bordered + .flex-item-bordered
{
    margin-left: 1rem;
    padding-left: 2rem;
}

.flex-container > div > img
{
    max-width: 100%;
}

.title-bar
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2.5rem;
    margin-bottom: 2.5rem;
}

.title-bar > h1
{
    margin: 0;
}

.title-bar > h2
{
    margin: 0;
}